.card{

    background-color: rgb(205, 205, 128);
    width : 400px;
    
    margin-left: 15px;
    

    
}
#btn{
    display: flex;
    align-items: right;
    justify-content: flex-end;

}
/* .container{
    width: 1000px;
    z-index: -1000px;
} */
#left{
    float: left;

}
#yel1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 5px;
}
#yel2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:red;
    margin-right: 5px;
}
#yel3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: sandybrown;
    margin-right: 5px;
}
#m1{
    margin: 5px;
}
.yel{
    display: flex;
    justify-content: right;
}
.d1{
    /* position: relative; */
}
#e1{
    /* position: absolute; */
    /* bottom: 50px; */
    left: -60px;
    /* bottom: 50px; */
    z-index: -1;
    /* visibility: hidden; */
}
.tag0{
    height: 40%;
    width: 10%;
    padding: 10px;
    margin: 5px;
    background-color:rgba(34, 212, 81, 0.868);
    border-radius: 100%;

  }
  .tag1{
    height: 40%;
    width: 10%;
    padding: 10px;
    margin: 5px;
    background-color:rgb(224, 64, 219);
    border-radius: 100%;

  }
  .tag2{
    height: 40%;
    width: 10%;
    padding: 10px;
    margin: 5px;
    background-color:rgb(224, 64, 64);
    border-radius: 100%;

  }
  .tag3{
    height: 40%;
    width: 10%;
    padding: 10px;
    margin: 5px;
    background-color:rgb(224, 160, 64);
    border-radius: 100%;
    

  }
  #ta{
    display: flex;
  }
   /* .tag{
    position: absolute;
  } 
   */