.card{
    background-color: lightyellow;
    width : 500px
}
#btn{
    display: flex;
    /* align-items: right; */
    justify-content: flex-end;

}
.container{
    width: 1000px;
    /* z-index: -1; */
}
#left{
    float: left;

}
#yel1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 5px;
}
#yel2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:red;
    margin-right: 5px;
}
#yel3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: sandybrown;
    margin-right: 5px;
}
#m1{
    margin: 3px;
}
.yel{
    display: flex;
    justify-content: right;
}
.d1{
    position: relative;
}
#e1{
    position: absolute;
    /* bottom: 50px; */
    left: -60px;
    /* bottom: 50px; */
    z-index: -1;
    /* visibility: hidden; */
}
/*  */
/* .d-flex{
    display: flex;
} */