#row{
    display: flex;
    justify-content: space-between;
    
}
.container{
    position:relative;
    left: 40px;
    z-index: +1;
}
.row{
    margin-top: 60px;
    margin-left: 10px;
    /* display: flex;
    justify-content: space-between;
     align-content: space-between; */
} 
.g-row-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

