#row{
    display: flex;
    justify-content: space-between;
    
}
.container{
    position:relative;
    left: 40px;
    z-index: +1;
}
.row{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
     align-content: space-between;
} 

