#c1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
    margin: 10px;
    
}
#c2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    margin: 10px;
}

#c3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: royalblue;
    margin: 10px;
}

#c4{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: khaki;
    margin: 10px;

}
.g1{
    display: flex;
    justify-content: left;
}
.g2{
    display: flex;
    justify-content: left;
}
.g3{
    display: flex;
    justify-content: left;
}
.g4{
    display: flex;
    justify-content: left;
    
}